@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Er is iets fout gegegaan.</h1>
<h2 class="text-danger">Onze excuses voor het ongemak.</h2>
@Model.Exception.Message

