<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <serviceBus>
    <serviceLocators active="webServiceLocator" profile="Acceptatie" xdt:Transform="SetAttributes(profile)">
      <fileServiceLocator filePath="~/LocationData.xml" />
      <webServiceLocator address="http://minorbldsrv/Baleru/PfSLocatorService/PfSLocatorService.svc" xdt:Transform="SetAttributes(address)" binding="basicHttpBinding" />
    </serviceLocators>
  </serviceBus>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>