@model Leet.Kantilever.FEBestellingen.Site.ViewModels.BestellingVM

@{
    ViewBag.Title = "NextOrder";
}

<h2>Bestelling inpakken</h2>

@Html.Partial("_bestellingsregels", Model.Bestellingsregels)

<div class="text-center">
    @Html.ActionLink("Bestelling is ingepakt", "FinishOrder", "Bestelling",new { bestelnummer = Model.Bestelnummer }, new { @class = "btn btn-primary center-block" })
</div>
