<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.diagnostics>
    <sharedListeners>
      <add  name="ServiceModelMessageLoggingListener"
      initializeData="\\minorbldsrv\_BuildDrops\Logs\Leet\Release_PcSWinkelen_web_messages.svclog"
      xdt:Locator="Match(name)"
      xdt:Transform="SetAttributes"></add>
      <add  name="ServiceModelTraceListener"
      initializeData="\\minorbldsrv\_BuildDrops\Logs\Leet\Release_PcSWinkelen_web_tracelog.svclog"
      xdt:Locator="Match(name)"
      xdt:Transform="SetAttributes"></add>
    </sharedListeners>
  </system.diagnostics>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>