@model Leet.Kantilever.FEBestellingen.Site.ViewModels.FactuurVM

@{
    ViewBag.Title = "Factuur";
}
@if (Model != null)
{
    @Html.Partial("ToonFactuur", Model)
    <a href="@Url.Action("BestellingGoedkeuren", new { bestelnummer = Model.Bestelling.Bestelnummer })" class="btn btn-primary">Bestelling goedkeuren</a>
}
else
{
    <h3>Factuur niet gevonden</h3>
}